@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: Action man;
  src: url(../assets/font/action_man/Action_Man.ttf); }

@font-face {
  font-family: Made soulmaze;
  src: url(../assets/font/made_soulmaze/soulmaze.otf); }

html {
  scroll-padding-top: calc(4.5rem - 1px); }

body {
  letter-spacing: 0.0625em;
  background-color: var(--color-background);
  font-family: var(--textos-font-family); }

h1,
p {
  text-align: center; }

:root {
  --textos-font-family: Action man;
  --titulo-font-family:Made soulmaze;
  --color-primary:#fffd51;
  --color-secundary:#ff6000;
  --color-font: rgb(232, 232, 232);
  --color-background:black; }

/*----- TEXTOS -----*/
.h1 {
  font-size: 0px; }

.titulo_seccion {
  font-family: var(--titulo-font-family);
  font-size: 2.7rem;
  color: var(--color-primary);
  margin-bottom: 3rem; }

.textos-general {
  font-family: var(--textos-font-family);
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: justify;
  max-width: 100%;
  margin: auto;
  color: var(--color-font); }

.amarillo {
  color: var(--color-primary);
  font-size: 1.4rem; }

/* ------------ MENU ----------*/
.logo img {
  width: 12rem; }

/*Background y color*/
#mainNav {
  min-height: 3.5rem;
  background-color: #000000;
  color: red;
  padding: 0rem 2rem 0rem 2rem; }

#mainNav:hover {
  background-color: black; }

/*Menu hamburguesa*/
#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #ffffff;
  border: 1px solid #bcbbbb; }

#mainNav .navbar-toggler:focus {
  outline: none; }

/*Menu complemento*/
#mainNav .navbar-brand {
  color: #000;
  font-weight: 700;
  padding: 0.9rem 0; }

#mainNav .navbar-nav .nav-item:hover {
  color: fade(#fff, 80%);
  outline: none;
  background-color: transparent; }

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent; }

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out; }
  #mainNav .navbar-brand {
    padding: 0.5rem 0;
    color: rgba(255, 255, 255, 0.5); }
  /*Menu link color ytamaño letra*/
  #mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: white;
    font-size: 1.3rem; }
  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75); }
  #mainNav .nav-link:active {
    color: #fff; }
  /*Menu color scroll*/
  #mainNav.navbar-shrink {
    background: linear-gradient(0deg, black 0%, #101011 0%, black 100%); }
  #mainNav.navbar-shrink .navbar-brand {
    color: white; }
  #mainNav.navbar-shrink .nav-link {
    color: white;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent; }
  #mainNav .nav-link:hover {
    color: var(--color-primary); }
  #mainNav.navbar-shrink .nav-link:hover {
    color: var(--color-primary); }
  #mainNav.navbar-shrink .nav-link:active {
    color: var(--color-primary); }
  #mainNav.navbar-shrink .nav-link.active {
    color: var(--color-primary);
    outline: none;
    border-bottom: 0.25rem solid var(--color-primary); } }

/*Link queda activo dependiendo de la pagina donde se encuentre*/
.link_activo {
  color: yellow; }

/* -------------- Portada --------------- */
.portada-container {
  height: 100vh;
  width: 100vw;
  border-bottom: solid black;
  overflow: hidden; }

.portada-img {
  background: url(../assets/portada.jpg);
  background-size: cover;
  animation: background-move 5s  linear alternate;
  height: 100vh; }

@keyframes background-move {
  0% {
    transform: scale(1.5, 1.5); }
  50% {
    transform: scale(1, 1); }
  100% {
    transform: scale(1, 1); } }

.portada-sombra {
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.415) 75%, #000 100%);
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 3rem; }

.portada-caja_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  --animate-duration: 8s; }

.portada-caja_container p {
  font-family: var(--textos-font-family);
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-align: center;
  max-width: 100%;
  margin: auto;
  color: var(--color-font);
  text-shadow: #090000 0.1em 0.1em 0.2em; }

.portada-caja_container img {
  width: 43.75rem; }

/*-------- Texto de portada -------*/
.caja {
  width: 33%;
  background-color: #00000052;
  margin-bottom: 5rem;
  padding: 1rem;
  border-radius: 1rem; }

.texto_portada {
  font-family: var(--textos-font-family);
  color: var(--color-font);
  padding: 1rem;
  font-size: 1.3rem; }

/* ------------------- Banner -------------------*/
.imgbanner img {
  width: 100vw; }

/* ------------------ Trailer ------------------ */
.trailer-section {
  padding: 4rem 5rem 8rem 5rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 13, 18, 0.7) 75%, #000000 100%); }

.trailer-container {
  margin: auto; }

.trailer-section p {
  margin-bottom: 5rem; }

/*---- Iframe video ---*/
.video {
  height: 70vh;
  width: 80vw;
  padding-top: 3rem; }

.video iframe {
  width: 100%;
  height: 100%; }

/* ---------------------- Sinopsis ---------------------- */
.sinopsis-section {
  padding: 0rem 3rem 5rem 3rem;
  background: linear-gradient(to bottom, black 0%, rgba(15, 15, 15, 0.415) 75%, #000000 100%);
  color: var(--color-font); }

.sinopsis_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 6rem;
  text-align: center;
  padding-top: 4rem; }

.sinopsis-caja {
  width: 45vw; }

.sinopsis-img {
  width: 45vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.sinopsis-img1 {
  width: 80%;
  height: 100%;
  -webkit-transition: all .9s ease;
  /* Safari y Chrome */
  -moz-transition: all .9s ease;
  /* Firefox */
  -o-transition: all .9s ease;
  /* IE 9 */
  -ms-transition: all .9s ease;
  /* Opera */ }

.sinopsis-img1:hover {
  -webkit-transform: scale(1.09);
  -moz-transform: scale(1.09);
  -ms-transform: scale(1.09);
  -o-transform: scale(1.09);
  transform: scale(1.09); }

.sinopsis_texto-container {
  margin-bottom: 4rem;
  padding: 0rem 2rem 0rem 2rem; }

.sinopsis_texto-container2 {
  padding: 0rem 2rem 0rem 2rem; }

.poster_responsive {
  display: none; }

/*------ BOTONES (leer comic/ver serie)  ----*/
.nuevo_boton {
  display: flex;
  justify-content: space-between;
  padding: 2rem; }

.boton_a {
  width: 40%; }

/*Codigo botones*/
.bubbly-button {
  text-shadow: #090000 0.1em 0.1em 0.2em;
  font-family: var(--textos-font-family);
  display: inline-block;
  font-size: 1.3em;
  padding: .8em;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ff6200e5;
  color: #fff;
  border-radius: 4px;
  border: solid #fffc5145;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 145, 1, 0.621); }

.bubbly-button:hover {
  background-color: #ff8000; }

.bubbly-button:focus {
  outline: 0; }

.bubbly-button:before, .bubbly-button:after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat; }

.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, var(--color-secundary) 20%, transparent 20%), radial-gradient(circle, transparent 20%, var(--color-secundary) 20%, transparent 30%), radial-gradient(circle, var(--color-secundary) 20%, transparent 20%), radial-gradient(circle, var(--color-secundary) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--color-secundary) 15%, transparent 20%), radial-gradient(circle, var(--color-secundary) 20%, transparent 20%), radial-gradient(circle, var(--color-secundary) 20%, transparent 20%), radial-gradient(circle, var(--color-secundary) 20%, transparent 20%), radial-gradient(circle, var(--color-secundary) 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%; }

.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, var(--color-secundary) 20%, transparent 20%), radial-gradient(circle, var(--color-secundary) 20%, transparent 20%), radial-gradient(circle, transparent 10%, var(--color-secundary) 15%, transparent 20%), radial-gradient(circle, var(--color-secundary) 20%, transparent 20%), radial-gradient(circle, var(--color-secundary) 20%, transparent 20%), radial-gradient(circle, var(--color-secundary) 20%, transparent 20%), radial-gradient(circle, var(--color-secundary) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%; }

.bubbly-button:active {
  transform: scale(0.9);
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2); }

.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards; }

.bubbly-button.animat:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards; }

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%; }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%; }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%; } }

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%; }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%; }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%; } }

/* ---------------------- REDES -----------------------*/
.section-redes {
  margin-top: 4rem; }

.redes-img-bg {
  height: 100vh;
  margin-top: 4rem;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.154) 0%, rgba(0, 0, 0, 0.035) 75%, #000000e4 100%), url(../assets/redes-img.jpg);
  background-size: cover;
  display: flex;
  justify-content: end;
  align-items: self-start; }

.caja_redes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  padding-top: 1rem; }

/*---Logo Shirox redes----*/
.img_shirox {
  margin: auto;
  width: 30vw; }

/*---Botones con los iconos de las redes----*/
.war-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 6rem; }

.war-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin: 0 2.5rem;
  font-size: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  transition: 0.2s; }

.war-btn button:hover {
  font-size: 3.5rem;
  transform: scale(1.09);
  background-color: #ff8000; }

@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0); }
  20% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.war-btn button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  z-index: -1;
  animation: pulse 1.5s infinite;
  transform: scale(1.5);
  font-size: 3rem; }

.bg1, .bg1::before {
  background: var(--color-secundary); }

.bg3, .bg3::before {
  background: var(--color-secundary); }

.bg5, .bg5::before {
  background: var(--color-secundary); }

.me {
  margin: 1.5625rem;
  text-align: center;
  font-family: sans-serif; }

.me a {
  font-size: 0.9375rem;
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  background: #010101;
  padding: 0.625rem;
  border-radius: 0.5rem;
  transition: all 0.3s; }

.me a:hover {
  color: #fff;
  background: #FFA200;
  transition: all easy 0.3s; }

/*imagen responsive de redes (se oculta en desktop, se activa en responsive)*/
.redes-img_rsp {
  display: none; }

/* ---------------------------- Media queries -------------------------- */
/* ------- 1350 ------ */
@media (max-width: 1350px) {
  /*REDES*/
  .redes-img-bg {
    margin-top: 0rem;
    background: #000;
    height: 30vh; }
  .section-redes {
    margin-top: 4rem; }
  .caja_redes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 2rem; }
  .redes-img_rsp {
    margin-top: 6rem;
    height: 68%;
    display: block; }
  .redes-img_rsp img {
    height: 100%;
    width: 100%; }
  .svg-inline--fa {
    font-size: 3rem; }
  /*BOTONES Redes*/
  .war-btn {
    margin-top: 1rem;
    margin-bottom: 4rem; }
  .botones {
    margin: 3rem 0rem 3rem 0rem; } }

/* ------- 1200 ------ */
@media (max-width: 1200px) {
  * {
    font-size: 14px; }
  /*Portada*/
  .portada-img {
    background-size: cover;
    background-position: center;
    height: 90vh; }
  /*video*/
  .video {
    height: 60vh;
    width: 100%; }
  /*Sinopsis*/
  .sinopsis_texto-container {
    padding: 0rem 1rem 0rem 1rem; }
  .poster_none {
    justify-content: start; }
  .poster_responsive {
    display: none; }
  /*REDES*/
  .redes-img-bg {
    margin-top: 0rem;
    background: #000;
    height: 30vh; }
  .section-redes {
    margin-top: 4rem; }
  .caja_redes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 2rem; }
  .redes-img_rsp {
    height: 68%;
    display: block; }
  .redes-img_rsp img {
    height: 100%;
    width: 100%; }
  .svg-inline--fa {
    font-size: 3rem; }
  /*BOTONES Redes*/
  .war-btn {
    margin-top: 1rem;
    margin-bottom: 4rem; }
  .botones {
    margin: 3rem 0rem 3rem 0rem; }
  /*404*/
  .notfound_img {
    width: 56%;
    height: 85%; }
  .notfound_Caja {
    text-align: center; } }

/* ------- 1000px ------*/
@media (max-width: 1000px) {
  * {
    font-size: 13px; }
  .fixed-top {
    position: unset; }
  .nav-item {
    padding: 1rem;
    border-bottom: solid #0d0d0d; }
  .textos-general {
    font-size: 1.4rem; }
  .nav-link {
    color: var(--color-font);
    font-size: 16px;
    padding-top: 1.5rem; }
  .nav-link:hover {
    color: var(--color-primary); }
  /*video*/
  .video {
    height: 45vh;
    width: 100%; }
  .sinopsis_container {
    margin-top: 6rem; }
  /*Redes*/
  .war-btn {
    margin-top: 2rem; }
  /*404*/
  .notfound_Caja {
    width: 80%; }
  .notfound_container {
    display: flex;
    flex-direction: column; }
  .notfound_container img {
    width: 100%;
    height: 100%; }
  .notfound_img {
    width: 50%;
    height: 50%; } }

/* ------- 850px ------*/
@media (max-width: 850px) {
  /*SINOPSIS*/
  * {
    font-size: 12px; }
  .nav-link {
    font-size: 16px; }
  .textos-general {
    font-size: 1.6rem; }
  .sinopsis_texto-container {
    padding: 0rem 2rem 0rem 2rem; }
  /*video*/
  .video {
    height: 45vh;
    width: 100%; }
  /* Portada */
  .portada-container {
    height: 84vh; }
  .portada-img {
    background: url(../assets/portada_responsive.jpg);
    background-size: cover;
    background-position: center;
    animation: background-move 5s  linear alternate;
    height: 80vh; }
  .portada-sombra {
    height: 80vh; }
  .portada-caja_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    --animate-duration: 8s; }
  .portada-caja_container img {
    width: 30rem; }
  /*video*/
  .video {
    height: 40vh;
    width: 100%; }
  /*Sinopsis*/
  .sinopsis-caja {
    width: 100vw;
    margin-top: 4rem; }
  .sinopsis-img {
    width: 100vw;
    height: 40%;
    margin-top: 4rem; }
  .sinopsis-img1 {
    width: 50%; }
  .poster_none {
    display: none; }
  .poster_responsive {
    display: block; }
  /*Redes*/
  .redes-img_rsp {
    margin-top: 6rem; }
  .redes-img-bg {
    height: 25vh; }
  /*404*/
  .notfound_container img {
    width: 100%;
    height: 100%; }
  .notfound_img {
    width: 60%;
    height: 40%; } }

/* ------- 490px ------*/
@media (max-width: 490px) {
  * {
    font-size: 11px; }
  .nav-link {
    font-size: 16px; }
  .textos-general {
    font-size: 16px; }
  .sinopsis_texto-container {
    padding: 0rem 1rem 0rem 1rem; }
  .sinopsis_container {
    margin-top: 5rem; }
  /*REDES*/
  .caja_redes {
    padding-top: 2rem; }
  /*404*/
  .notfound_container img {
    width: 100%;
    height: 100%; }
  .notfound_img {
    width: 70%;
    height: 40%; } }

/* ------- 420px ------*/
@media (max-width: 420px) {
  * {
    font-size: 9px; }
  .nav-link {
    font-size: 16px; }
  .textos-general {
    font-size: 15px; }
  .amarillo {
    font-size: 15px; }
  /*video*/
  .trailer-section {
    padding: 4rem 5rem 7rem 5rem; }
  .video {
    height: 30vh;
    width: 100%; }
  /*SINOPSIS*/
  .sinopsis-img {
    margin-top: 4rem; }
  .sinopsis-img1 {
    width: 60%; }
  /*Botones*/
  .boton_a {
    width: 45%; }
  .bubbly-button {
    font-size: 15px;
    padding: .8em; }
  .redes-img-bg {
    height: 13vh; }
  .redes-img-bg {
    height: 20vh; }
  /*404*/
  .notfound_img {
    width: 80%;
    height: 40%; }
  .bton_404 {
    font-size: 13px;
    padding: 1em;
    width: 100%; } }

/* ------- 350px ------*/
@media (max-width: 350px) {
  * {
    font-size: 9px; }
  .nav-link {
    font-size: 15px; }
  .textos-general {
    font-size: 13px; }
  .amarillo {
    font-size: 13px; }
  .sinopsis-section {
    padding: 0rem 2rem 0rem 2rem; }
  /*video*/
  .trailer-section {
    padding: 4rem 5rem 4rem 5rem; }
  .video {
    padding-top: 0rem;
    height: 25vh; }
  /*Botones*/
  .nuevo_boton {
    flex-wrap: wrap; }
  .bubbly-button {
    font-size: 13px;
    padding: .7em; }
  .redes-img-bg {
    height: 13vh; }
  .bton_404 {
    font-size: 13px;
    padding: 1em;
    width: 100%; }
  /*REDES*/
  .redes-img-bg {
    height: 20vh; }
  /*404*/
  .notfound_container {
    height: 70vh; }
  .notfound_Caja h1 {
    margin-bottom: 1.3rem; }
  .notfound_Caja h2 {
    margin-bottom: 2rem; }
  .notfound_Caja p {
    margin-bottom: 2rem; }
  .notfound_img {
    width: 80%;
    height: 30%; } }

/* ------- 300px ------*/
@media (max-width: 300px) {
  * {
    font-size: 8px; }
  /*video*/
  .trailer-section {
    padding: 4rem 5rem 4rem 5rem; }
  .video {
    height: 18vh; }
  .nuevo_boton {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 150px;
    padding: 0rem; }
  .boton_a {
    width: 150px; }
  .bubbly-button {
    font-size: 13px;
    padding: .7em; }
  .redes-img-bg {
    height: 16vh; }
  .war-btn {
    flex-wrap: nowrap; } }

/*---- Personajes seccion ------*/
.portada-container_personajes {
  height: 90vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.415) 75%, #000 100%), url(../assets/portada.jpg);
  background-size: cover; }

/*--------------- Slider de personajes-------------------*/
.slider_container {
  position: relative;
  min-height: 100vh; }

/*- Botones con personajes para mover slider -*/
.slider_botones {
  display: flex;
  width: 100%;
  justify-content: center; }

.slider__navi {
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: 90%;
  width: 60%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 999; }

.slider__navi a {
  display: block;
  height: 100px;
  border-radius: 100%;
  width: 100px;
  margin: 30px 0;
  text-indent: -9999px;
  box-shadow: none;
  border: none;
  background-image: url(../assets/personajes/marcos_personaje.jpg);
  background-size: contain; }

.slider__navi a:nth-child(2) {
  background-image: url(../assets/sobre-nosotros_randal.png); }

.slider__navi a:nth-child(3) {
  background-image: url(../assets/personajes/vale_personaje.jpg); }

.slider__navi a:nth-child(4) {
  background-image: url(../assets/personajes/roby_personaje.jpg); }

.slider__navi a:nth-child(5) {
  background-image: url(../assets/personajes/victor_personaje.jpg); }

.slider__navi a:nth-child(6) {
  background-image: url(../assets/personajes/kuren_personaje.jpg); }

.slider__navi a.active {
  border: solid white;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; }

/*----- Contenedores de personajes ----*/
.flex__container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
  z-index: 1; }

.flex__container.flex--active {
  z-index: 2; }

/*--------- Textos ---------*/
/* -- Titulo -- */
.text--big {
  font-family: var(--titulo-font-family);
  color: var(--color-primary);
  font-size: 5em;
  font-weight: 700;
  line-height: 110px;
  margin-left: -8px;
  text-shadow: 3px 3px 2px #0e0e0e;
  /*rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;*/ }

/* -- Texto parrafos -- */
.text--normal {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
  text-align: justify;
  margin-top: 40px;
  font-family: var(--textos-font-family); }

/* -- Texto voz -- */
.text--sub {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 0px;
  text-align: justify;
  font-family: var(--textos-font-family); }

/* -- Nombre difuminado -- */
.text__background {
  font-family: var(--titulo-font-family);
  position: absolute;
  left: 4rem;
  bottom: -60px;
  color: rgba(0, 0, 0, 0.05);
  font-size: 9rem;
  font-weight: 700; }

/*------------- Flex items-----------*/
.flex__item {
  height: 100vh;
  color: rgba(255, 255, 255, 0.696);
  transition: transform 0.1s linear; }

.flex__item--left {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  width: 65%;
  transform-origin: left bottom;
  transition: transform 0.1s linear 0.4s;
  opacity: 0;
  position: relative;
  overflow: hidden; }

.flex__item--right {
  width: 35%;
  transform-origin: right center;
  transition: transform 0.1s linear 0s;
  opacity: 0; }

.flex--preStart .flex__item--left,
.flex--preStart .flex__item--right,
.flex--active .flex__item--left,
.flex--active .flex__item--right {
  opacity: 1; }

/*--------- Colores cajas de los personajes --------*/
/* --- Marcos --- */
.flex--marcos .flex__item--left {
  background: #d15a1f; }

.flex--marcos .flex__item--right {
  background: #020202; }

/* --- Randal  ---*/
.flex--randal .flex__item--left {
  background: #a27709; }

.flex--randal .flex__item--right {
  background: #020202; }

/* --- Vale --- */
.flex--vale .flex__item--left {
  background: #791d65; }

.flex--vale .flex__item--right {
  background: #020202; }

/* --- Roby ---*/
.flex--roby .flex__item--left {
  background: #476089; }

.flex--roby .flex__item--right {
  background: #020202; }

/* --- Victor ---*/
.flex--victor .flex__item--left {
  background: #8e0702; }

.flex--victor .flex__item--right {
  background: #020202; }

/* --- Kuren --- */
.flex--kuren .flex__item--left {
  background: #02798e; }

.flex--kuren .flex__item--right {
  background: #020202; }

/*---------- Imagenes -----------*/
.flex__content {
  margin-left: 80px;
  width: 55%;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s; }

.personajes_img {
  position: absolute;
  bottom: 150px;
  right: 15%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  max-height: 35vw;
  border-radius: 100%;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.43s 0.6s, transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93); }

/* Animate-START point */
.flex__container.animate--start .flex__content {
  transform: translate3d(0, -200%, 0);
  opacity: 0; }

.flex__container.animate--start .personajes_img {
  transform: translate3d(-200px, 0, 0);
  opacity: 0; }

/* Animate-END point */
.flex__container.animate--end .flex__item--left {
  transform: scaleY(0); }

.flex__container.animate--end .flex__item--right {
  transform: scaleX(0); }

.flex__container.animate--end .flex__content {
  transform: translate3d(0, 200%, 0);
  opacity: 0; }

.flex__container.animate--end .personajes_img {
  transform: translate3d(200px, 0, 0);
  opacity: 0; }

/* -------------- Footer ---------------*/
.footerPages {
  padding: 3rem;
  background-color: #151515;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: .8; }
  .footerPages img {
    width: 15vw; }
  .footerPages .redesContainer {
    display: flex;
    justify-content: space-between;
    width: 30%; }
    .footerPages .redesContainer .botones_pages {
      margin-top: 0rem;
      margin-bottom: 0rem; }
    .footerPages .redesContainer .iconosredes_pages {
      width: 3rem;
      height: 3rem;
      font-size: 2rem; }
  .footerPages .botones_redes {
    display: flex;
    align-items: center;
    padding: .7rem 1rem;
    border-radius: 100%;
    font-size: 2.5rem;
    background-color: #d15a1f;
    color: #ffffff; }

/* ----------------------- PAGINA 404 --------------------------*/
.notfound {
  height: 100vh;
  background-color: var(--color-background); }

.notfound_logo {
  padding-left: 2rem;
  padding-top: 1rem; }

.notfound_logo img {
  width: 14rem; }

.notfound_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86vh;
  width: 98%; }

.notfound_container img {
  width: 100%;
  height: 100%; }

.notfound_img {
  width: 50%;
  height: 100%; }

.notfound_Caja {
  color: var(--color-font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%; }

.notfound_Caja h1 {
  font-family: var(--titulo-font-family);
  font-size: 2.9rem;
  margin-bottom: 2rem;
  color: var(--color-primary); }

.notfound_Caja h2 {
  font-size: 2rem;
  margin-bottom: 2rem; }

.notfound_Caja p {
  font-size: 1.5rem;
  margin-bottom: 2rem; }

.notfound_botones {
  display: flex;
  justify-content: center; }

.bton_404 {
  width: 100%; }
